input,button{
    background-color:#ddd;
    border:1px solid #333;
    outline:none;
    font-size:20px;
    padding:5px;
    width:calc(100% - 12px);
    margin-bottom:5px;
    color:black;
}
button{
    margin-top:20px;
    width:100%;
    cursor:pointer;
}
input::placeholder{
    color:black;
}